body {
  background-color: #F9FAFF;
  margin: 0;
  font-family: arial;
  color: #161341;
}

a {
  text-decoration: none !important;
}

/* ----- Commonly Used Styles ----- */

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wrapper-title{
  font-size: 40px;
  font-weight: bold;
}

.wrapper-subtitle {
  font-size: 20px;
  margin: 10px 0;
}

.flex-column-centered {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin-top: 30px;
  background: linear-gradient(74.04deg, #00CAB9 -34.52%, #00ADC3 203.41%);
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: scale-down .5s;
}

.btn:hover {
  animation: shimmer .5s, scale-up .5s;
  opacity: 0.7;
  transform: scale(1.02);
}

.movego-btn {
  background: white;
  color: #FF7131; 
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.vertical-margin {
  margin: 50px 0;
}

/* ----- Navbar Styles ----- */

.navbar-container {
  height: 100px;
  width: 95%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.navbar-link {
  font-size: 20px;
  margin: 0 15px;
  color: #161341;
}

.navbar-link:hover {
  animation-name: change;
  animation-duration: .5s;
  color: #00ADC3;
}

/* ----- Banner Styles ----- */

.banner {
  background-image: url('images/background.png');
  background-size: cover;
}

.banner-move-logo {
  width: 75%;
}

.banner-title {
  margin: 15px 0;
  font-size: 4vw;
  color: #161341;
}

.banner-subtitle {
  margin: 15px 0;
  font-size: 20px;
}

.banner-mockup {
  width: 75%;
  max-height: 90%;
  margin: 0 auto;
  object-fit: contain;
}

/* ----- Intro Styles ----- */

.intro {
  background-color: transparent;
  padding: 100px 0;
}

.intro-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.intro-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  text-align: center;
  margin-top: 30px;
}

.intro-icon {
  width: 90%;
  margin: 10px 0;
}

.intro-box-title {
  font-size: 40px;
  margin: 10px 0;
}

.intro-box-content {
  font-size: 20px;
  margin: 10px 0;
}


/* ----- Activities Styles ----- */

.activities {
  background-image: url('images/background-4.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.icon-background {
  width: 90%;
}

/* ----- Venues Styles ----- */

.venues {
  background-color: transparent;
  padding: 100px 0;
}

/* ----- Memberships Styles ----- */

.memberships {
  background-image: url('images/background-1.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.membership-container {
  margin: 80px 0;
  height: 550px;
  width: 275px;
  background-color: white;
  border: 3px solid #4EDACD;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 0px 25px #D4E1F4;
  position: relative;
  animation-name: scale-down;
  animation-duration: .5s;
}

.movego-orange {
  background: linear-gradient(180deg, #FF7131 0%, #FF9431 100%);
  border: none;
}

.membership-container:hover {
  transform: scale(1.02);
  animation-name: scale-up;
  animation-duration: .5s;
}

.highlighted {
 background: linear-gradient(180deg, #4EDACD 0%, #00ADC3 100%);
 border: none;
}

.membership-title {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}

.membership-icon {
  height: 100px;
  width: auto;
  margin-bottom: 25px;
}

.membership-price {
  font-size: 40px;
  margin-bottom: 25px;
}

.membership-info-container {
  display: block;
  text-align: center;
}

.membership-info {
  margin: 5px 0;
}

/* ----- Access Styles ----- */

.access {
  background-color: transparent;
  padding: 100px 0;
}

.btn-bottom {
  position: absolute;
  bottom: 45px;
}

.footer-container {
  background: white;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-content {
  color: white;
}

.mobile-navbar {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#00CAB9 -34.52%, #00ADC3 203.41%);
  z-index: 95;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- Small Screen Styles -----*/
@media screen and (max-width: 750px) {
  .wrapper {
    max-width: unset;
    overflow: hidden;
  }

  .banner {
    background-position: center;
    justify-content: center;
  }

  .container-flex-row {
    flex-direction: column;
  }

  .container-flex-column {
    width: 100%;
    height: 100%;
  }

  .navbar-container {
    display: none;
  }

  .icon-background {
    width: 125%;
  }

  .mobile-navbar-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-navbar-icon {
    display: block;
  }

  .mobile-navbar-icon-line {
    width: 40px;
    height: 3px;
    margin: 8px 0;
  }

  .hamburger {
    transform: unset !important;
    background: linear-gradient(#00CAB9 -34.52%, #00ADC3 203.41%);
  }

  .exit {
    position: absolute;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
  }

  #line-1 {
    transform: rotate(45deg);
  }

  #line-2 {
    transform: rotate(45deg);
  }

  #line-3 {
    transform: rotate(-45deg);
  }

  .mobile-navbar {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 95;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-navbar-link {
    margin: 15px 0;
    color: white;
    font-size: 1.5em;
  }

  .mobile-navbar-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 100px;
  }

  .navbar-close {
    display: flex;
    top: 0;
    right: -100vw;
    animation: close-mobile-navbar .75s;
  }

  .navbar-open {
    display: flex;
    top: 0;
    right: 0;
    animation: open-mobile-navbar .75s;
  }

  .banner-move-logo {
    width: 80%;
  }

  .banner-title {
    font-size: 2.5em;
  }

  .banner-mockup {
    width: 125%;
    max-height: 115%;
    margin: 0 auto;
    object-fit: contain;
  }
}



/*Key Frames*/
@keyframes shimmer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes change {
  from {
    color: #161341;
  }
  to {
    color: #00ADC3;
  }
}

@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

@keyframes scale-down {
  from {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open-mobile-navbar {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes cross {
  from {
    transform: unset !important;
    background: linear-gradient(#00CAB9 -34.52%, #00ADC3 203.41%);
  } 
  to {
    position: absolute;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
  }
}

@keyframes uncross {
  from {
    position: absolute;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
  }
  to {
    transform: unset !important;
    background: linear-gradient(#00CAB9 -34.52%, #00ADC3 203.41%);
  }
}

@keyframes close-mobile-navbar {
  from {
    left: 0;
  }
  to {    
    left: -100vw;
  }
}